@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

.layout {
  display: grid;
  grid-template-rows: 130px 250px auto auto;
}
.layout__hero {
  position: relative;
}
.layout__hero-text {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  width: 90%;
  top: 15px;
  padding: 20px;
  text-align: center;

}
/*
* header
* ==========================================================
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 31px;
  padding-left: 31px;
  padding-right: 31px;
}

.header__nav-item {
  color: #000000;
  text-decoration: none;
}

/*
* Este código hace que el primer elemento no tenga el margin-left de 25px
*/
.header__nav-item:not(:nth-child(1)) {
  margin-left: 25px;
}

.header__nav-item--active {
  color: #1f3f68;
  font-weight: 700;
}

/*
* popular
* ==========================================================
*/
.popular {
  padding-left: 213px;
  padding-right: 165px;
}
.popular__grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .popular__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .popular__grid-item:nth-child(1) {
    grid-column: 1/-1;
  }
}

/*
* article
* ==========================================================
*/
.article__image-img {
  width: 100%;
}

.article__title {
  color: #1f3f68;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.article__text {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
}

.article__footer {
  display: flex;
  justify-content: space-between;
}

.article__footer-author {
  color: #1f3f68;
  font-weight: 700;
  font-size: 14px;
}

.article__footer-date {
  font-family: "Arial";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.article__footer-icon {
  color: #356ead;
  width: 18px;
  height: 18px;
  display: inline-block;
}
